/* CSS pour l'effet de transition */
.input-container {
    position: relative;
    overflow: hidden;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 8px; /* Décalage de 8 pixels vers la droite pour le label */
    transform: translateY(-50%);
    transform-origin: left center;
    transition: transform 0.3s, font-size 0.3s;
  }
  
  .input-container.active label {
    transform: translateY(-150%) scale(0.8);
    font-size: 0.8em;
  }
  
  /* Ajouter un padding à gauche pour le texte dans l'input */
  .input-container input[type="text"] {
    padding-left: 8px; /* Décalage de 8 pixels vers la droite pour le texte dans l'input */
  }
  
  .form-control {
    height: 40px;
    width: 300px;
  }